* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: white;
    color: #434343;
}


input{
    border-radius: 10px !important;
}
select{
        border-radius: 10px !important;
}

input::-webkit-outer-spin-button, /*  remover os butões nos campos type number */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.background{
    position: absolute;
}

#formulario{
    animation: bounceInDown;
    animation-duration: 1.5s;
}

.registo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img img{
    width: 350px;
    height: 450px;
}

@media (max-width:750px) {
    img#conta {
      display: none;
    }
}
