* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
    height: 100vh;
    width: 100%;
    color: #434343;
    font-size: 16px;
}

.dark-mode {
    background-color: #434343;
    color: white;
}

#principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: fadeIn;
    animation-duration: 1.5s;
}


.banner1{
    position: relative;
    z-index: 1000;
    animation: bounceInDown;
    animation-duration: 1.5s;
}

.top{
    position: relative;
    background-image: linear-gradient(to right, #3898ec, #3898ec);
    color: white;
    padding-top: 2%;
}

.ban-img{
    position: relative;
    z-index: 10000;
}

.wave{
    position: absolute;
    bottom: -10%;
    left: 0;
}

#background{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 80% 100%);
    background-color: #3E8AFF;
}

.estagios{
    animation: bounceInDown;
    animation-duration: 1.5s;
}


.estagio p{
    text-align: justify;
}



.img-1 img{
    width: 350px;
    height: auto;
}

.img-2 img{
    width: 350px;
    height: auto;
}

.img-3 img{
    display: flex;
    justify-content: center;
    width: 30%;
    height: auto;
}

#imgPerfil{
    width: 270px;
    height: 260px;
    border-radius: 265px;
}

.card:hover{
    background-color: white;
    box-shadow: 0px 0px 10px 0px #3E8AFF;
    cursor: pointer;
    transform: scale(1.05);
}


section.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    animation: bounceInDown;
    animation-duration: 2s;
}

section.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

section.cards section.card:first-child {
    margin-left: 0;
}

section.cards section.card .icon {
    width: 64px;
    height: 64px;
}

section.cards section.card img {
    width: 100%;
}

section.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

section.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

section.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

section.cards section.card {
    box-shadow: 20px 20px 50px -30px #AFD6FF;
}

section.cards section.card button {
    background: linear-gradient(to right, #3E8AFF, #BBDEFF);
}

section.cards section.card:hover{
    background-color: white;
    box-shadow: 0px 0px 10px 0px #3E8AFF;
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (max-width: 720px) {
    section.cards {
        flex-direction: column;
    }

    section.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    section.cards section.card:last-child {
        margin-bottom: 0;
    }

    section.cards section.card button {
        font-size: 70%;
    }
}

@media screen and (min-width: 720px) {
    .mobile-nav {
    display: none;
    }
}

@media screen and (max-width: 720px) {
    .main-content{
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    #nav{
        display: none !important;
    }
}
